/* Required for 3D perspective */
.perspective {
  perspective: 1000px;
}

/* Prevents the back side from showing when not flipped */
.backfaceHidden {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Rotate the back side */
.rotateY180 {
  transform: rotateY(180deg);
}
